# Ch3.0 Introducing Pandas Objects

In [3]:
import numpy as np
import pandas as pd

In [4]:
# directory location
dir_data = './data/'
f_app = os.path.join(dir_data, 'data2.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

NameError: name 'os' is not defined

## The Pandas Series Object

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Constructing Series objects

In [7]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar

In [8]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` can be a dictionary

In [9]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

## The Pandas DataFrame Object

### Constructing DataFrame objects

#### From a single Series object

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [11]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

#### From a list of dicts

In [12]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

#### From a dictionary of Series objects

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [14]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [15]:
pd.DataFrame({'population': population,
              'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

#### From a two-dimensional NumPy array

In [16]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.380344  0.865415
b  0.181585  0.220158
c  0.863841  0.167672

#### From files

In [2]:
mb = pd.read_csv("./data/microbiome.csv")
mb

             Taxon  Patient  Group  Tissue  Stool
0       Firmicutes        1      0     136   4182
1       Firmicutes        2      1    1174    703
2       Firmicutes        3      0     408   3946
3       Firmicutes        4      1     831   8605
4       Firmicutes        5      0     693     50
5       Firmicutes        6      1     718    717
6       Firmicutes        7      0     173     33
7       Firmicutes        8      1     228     80
8       Firmicutes        9      0     162   3196
9       Firmicutes       10      1     372     32
10      Firmicutes       11      0    4255   4361
11      Firmicutes       12      1     107   1667
12      Firmicutes       13      0      96    223
13      Firmicutes       14      1     281   2377
14  Proteobacteria        1      0    2469   1821
15  Proteobacteria        2      1     839    661
16  Proteobacteria        3      0    4414     18
17  Proteobacteria        4      1   12044     83
18  Proteobacteria        5      0    2310     12
19  Proteobacteria        6      1    3053    547
20  Proteobacteria        7      0     395   2174
21  Proteobacteria        8      1    2651    767
22  Proteobacteria        9      0    1195     76
23  Proteobacteria       10      1    6857    795
24  Proteobacteria       11      0     483    666
25  Proteobacteria       12      1    2950   3994
26  Proteobacteria       13      0    1541    816
27  Proteobacteria       14      1    1307     53
28  Actinobacteria        1      0    1590      4
29  Actinobacteria        2      1      25      2
..             ...      ...    ...     ...    ...
40  Actinobacteria       13      0      51    183
41  Actinobacteria       14      1     310    204
42   Bacteroidetes        1      0      67      0
43   Bacteroidetes        2      1       0      0
44   Bacteroidetes        3      0      85      5
45   Bacteroidetes        4      1     143      7
46   Bacteroidetes        5      0     678      2
47   Bacteroidetes        6      1    4829    209
48   Bacteroidetes        7      0      74    651
49   Bacteroidetes        8      1     169    254
50   Bacteroidetes        9      0     106     10
51   Bacteroidetes       10      1      73    381
52   Bacteroidetes       11      0      30    359
53   Bacteroidetes       12      1      51     51
54   Bacteroidetes       13      0    2473   2314
55   Bacteroidetes       14      1     102     33
56           Other        1      0     195     18
57           Other        2      1      42      2
58           Other        3      0     316     43
59           Other        4      1     202     40
60           Other        5      0     116      0
61           Other        6      1     527     12
62           Other        7      0     357     11
63           Other        8      1     106     11
64           Other        9      0      67     14
65           Other       10      1     203      6
66           Other       11      0     392      6
67           Other       12      1      28     25
68           Other       13      0      12     22
69           Other       14      1     305     32

[70 rows x 5 columns]

In [18]:
pd.read_csv("./data/microbiome.csv", header=None).head()

            0        1      2       3      4
0       Taxon  Patient  Group  Tissue  Stool
1  Firmicutes        1      0     136   4182
2  Firmicutes        2      1    1174    703
3  Firmicutes        3      0     408   3946
4  Firmicutes        4      1     831   8605

In [19]:
mb = pd.read_table("./data/microbiome.csv", sep=',')

## The Pandas Index Object

In [20]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

In [21]:
ind[1]

3

In [22]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [23]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [24]:
ind[1] = 0

TypeError: Index does not support mutable operations