In [1]:
import pandas as pd

data = pd.read_csv("./iris_submission.csv")

print(len(data))
print(data.columns)
print(data.head(20))

150
Index(['Id', 'Species'], dtype='object')
    Id  Species
0    1      NaN
1    2      NaN
2    3      NaN
3    4      NaN
4    5      NaN
5    6      NaN
6    7      NaN
7    8      NaN
8    9      NaN
9   10      NaN
10  11      NaN
11  12      NaN
12  13      NaN
13  14      NaN
14  15      NaN
15  16      NaN
16  17      NaN
17  18      NaN
18  19      NaN
19  20      NaN

In [2]:
result = pd.read_csv("/home/user/191018_iris/iris_prediction.csv/Species_predictions.csv", header=None)

print(len(result))
result_list = result.iloc[:,0].tolist()

150

In [3]:
data.loc[:,'Species'] = result_list
print(data.head(20))

    Id     Species
0    1  versicolor
1    2   virginica
2    3  versicolor
3    4      setosa
4    5      setosa
5    6   virginica
6    7      setosa
7    8   virginica
8    9      setosa
9   10  versicolor
10  11      setosa
11  12   virginica
12  13  versicolor
13  14      setosa
14  15      setosa
15  16  versicolor
16  17   virginica
17  18      setosa
18  19   virginica
19  20  versicolor

In [4]:
data.to_csv('./191018_1_finished_iris_submission.csv', index=None, header=True)